body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #ECECEC;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 7px 7px;
}

h1{
    font-family: rolachan, 'Noto Sans JP', sans-serif;
    color: #001080;
    font-weight: bold;
}

h2,h3,h4{
    font-family: rolachan, 'Noto Sans JP', sans-serif;
    color: lightslategray;
}

.contents{
    margin-left: 3%;
}

@font-face {
    font-family: rolachan;
    src: url("fonts/ROLAchan-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

.header{
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    justify-content: space-between;
}


.atcoderAccount{
    color: #00ddff;
}

.button{
    margin: 5px;
    border-style: none;
    border-radius: 5px;
}


.button.twitter{
    background-color: #55acee;
    color: white;
    font-family: rolachan, serif;
}


.main{
    margin-left: 2.5%;
    margin-right:2.5%;
    padding: 2.5%;
    background-color: #ffffff;
}


/*
    container
 */

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
