body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #ECECEC;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
}

.title{
    font-family: rolachan, 'Noto Sans JP', sans-serif;
    color: #001080;
    font-weight: bold;
    font-size: x-large;
}

.contents{
    font-family: rolachan, 'Noto Sans JP', sans-serif;
    color: darkgray;
    font-weight: normal;
    font-size: medium;
    padding-left: 12px;
    display: flex;
    justify-content: left;
}

.infoBlock{
    padding: 6px;
    margin: 6px;
    transition: .3s;
}
.infoBlock:hover{
    border-bottom: groove;
    border-right: groove;
    transform: scale(1.1);
}



.main{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}



@font-face {
    font-family: rolachan;
    src: url("../fonts/ROLAchan-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

.header{
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header > .item {
    font-family: rolachan, 'Noto Sans JP', sans-serif;
    color: #001080;
    font-weight: bold;
    font-size: x-large;
}



.icon{
    width: 64px;
    border-style: none;
    border-radius: 5px;
    margin: 5px
}

.button{
    border-bottom: groove;
    border-right: groove;
    border-bottom-color: lightslategrey;
    border-right-color: lightslategrey;
    border-radius: 5px;
    margin: 5px;
    transition: .3s;
}
.button:hover{
    background-color: darkgray;
    transform: scale(1.1);
}


.main{
    margin-left: 2.5%;
    margin-right:2.5%;
    padding: 2.5%;
    background-color: #ffffff;
}

.footer{
    background-color: #ffffff;
    margin-left: 2.5%;
    margin-right:2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.goBlock{
    padding: 6px;
    margin: 6px;
    transition: .3s;
}

.goBlock :hover{
    background-color: lightslategrey;
}