---
layout: default
---

<div class="publication-meta">
  <h1 class="title">{{ page.title }}</h1>
  <div class="venue">{{ page.venue }}</div>
  <div class="description">{{ page.description }}</div>

  {% if page.pdf_link %}
  <a href="{{ page.pdf_link }}" class="pdf-link">PDF</a>
  {% endif %} {% if page.code_link %}
  <a href="{{ page.code_link }}" class="code-link">Code</a>
  {% endif %}

  <pre class="bibtex">{{ page.bibtex }}</pre>
</div>

<div class="publication-content">{{ content }}</div>
